@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,800&family=Raleway:wght@700&family=Rubik&display=swap');

body {
	margin: 0;
}


.screen{
    width: 100%;
    height: 100vh;
}

.logo--rotate{
    font-weight: bold;
    /* left: 119px; */
    color: #2557AB;
    transform: rotate(-180deg);
    font-size: 44px;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

.logo__wrap:hover{
    transform: skewX(23deg);
    -webkit-transform: skewX(23deg);
    -moz-transform: skewX(23deg);
    -ms-transform: skewX(23deg);
    -o-transform: skewX(23deg);
    transition:all ease-in 1s ;
    -webkit-transition:all ease-in 1s ;
    -moz-transition:all ease-in 1s ;
    -ms-transition:all ease-in 1s ;
    -o-transition:all ease-in 1s ;
    animation-duration: 5s;


}

.navbar{
    display: flex;
    padding-top: 40px;
}
.logo--description{
    color: #2557AB;
    padding-left: 10px;
    padding-top: 4px;
}

.logo--description_bold{
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: 1px;
    letter-spacing: 1px;
}

.logo__wrap{
    display: flex;
    padding-right: 794px;
    padding-left: 135px; 
}

.navbar__menu{
    display: flex;
    /* column-gap: 20px; */
}

.navbar__menu.menu__item{
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    color: #13253A;
    padding-right: 50px;

}

/* .navbar__menu.menu__item:hover{
    height: 9px;
    box-shadow: -25px 13px 13px #4f7cbf;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all ease-in 0.2s;
    -webkit-transition: all ease-in 0.2s;
    -moz-transition: all ease-in 0.2s;
    -ms-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
    padding-top: 5px 5px;
} */


/* secili heading h6 te cdo section me ngjyre blue */
.content--blue, .services.services--heading{
    color:#2557AB;
    padding-bottom: 5px;

}

.header__content{
    width: 470px;
    margin-top: 228px;
}

.header__content:hover{
    box-shadow: 3px -9px 46px -13px rgb(0 0 0 / 23%);
    mix-blend-mode: color;
    transition: 1s ease-in;
    border-radius: 15px;
    padding: 20px 20px;
}

/* njejt e ka edhe services.. */
.header{
    padding-left: 135px;
    padding-right: 135px;
}

.header__wrap{
    display: flex;
    align-items: center;
    column-gap: 130.18px;
    padding-bottom: 188.5px;
}

/* per cdo paragraf qe osht i njejet i shton me , */
.heading__content.description__info, .aboutus.aboutus--heading, .cfa.description{
    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;

}



/* duhet me shtu edhe font family.. */
.heading__content.heading--black{
    font-weight: bold;
    font-size: 46px;
    line-height: 63px;
    letter-spacing: -1px;
    color: #13253A;
    padding-bottom: 10px;

}



.button.btn--consultation, .button.btn--submit{
    padding:19px 42px 18px 42px;
    color: #ffffff;
    background: #FF7F57;
    box-shadow: 18px 0px 20px rgb(0 0 0 / 17%);
    border:none;
}

.heading__content.description__info{
    padding-bottom: 20px;
    mix-blend-mode: normal;
    opacity: 0.9;
    padding-right: 58px;
    color: #13253A;
}



.header__image{
    margin-top: 154.38px;
}

.header__image.img{
    width: 1440px;
    height: 819px;
}


/* nnuk po funksionon.. */
.header__image.img:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 2px #679ce8;
    mix-blend-mode: color;
    border-radius: 6px;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}


/* SERVICES SECTION*/

.services{
    text-align: center;
}


/* secili heading main i ka te njejta atributet... duhet me i shkru me ni vend */
.services.services__main--heading{
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #13253A;
    margin-bottom: 30px;
}


.services__wrap{
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    padding:0px 135px 100px 135px;
}

.service{
    /* width: 33.3%; */
    padding-right: 30px;
}

.service.service__responsive:hover,
.service.service__design:hover,
.service.service__support:hover
{
    transition: all ease-in 0.5s ;
    border-radius: 13px;
    padding-right: 4px;
    box-shadow: 3px -9px 46px -13px rgb(0 0 0 / 23%);
    object-fit: contain;
    padding: 20px 20px;
    -webkit-transition: all ease-in 0.5s ;
    -moz-transition: all ease-in 0.5s ;
    -ms-transition: all ease-in 0.5s ;
    -o-transition: all ease-in 0.5s ;
}

.service.service__design:hover{
    transition-delay: 0.4;
    transition-delay: 0.5;
}

.service.service--heading:hover{
    transform: scale(1.2);
}

.service.service--icon{
    font-size: 33px;
    color: #FF7F57;
    padding-bottom: 20px;
      /*nuk po e merr padding ose margin(per shkak qe osht span)  */
}

.service.service--description{
    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #13253A;
    mix-blend-mode: normal;
    opacity: 0.9;
}

.service.service--heading{
    font-family: Avenir Next;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #3B4D6C;
    margin: 20px 0 5px 0;
}

/* ACTIVIY SECTION */

.activity__wrap{
    display: flex;
    padding:60px 330px 60px 335px;
    background-color: #F4F6F7;
    margin-bottom: 99px;
}

.activity.stats{
    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 63px;
    color: #13253A;
 
}

.activity.stats::after{
    content: "+";
    color:#FF7F57;
    font-size: 38px;
    font-weight: bold;
}

.activity.list{
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2557AB;
    display: flex;
}

.activity__development:hover,
.activity__experience:hover,
.activity__clients:hover{
    transition: all ease-in 0.5s ;
    box-shadow: 6px 6px 7px 4px rgb(204 204 204);
    padding: 0;
    margin-right: 35px;
    border-radius: 20px;
    transition-delay: 0.2s;
    transform:all ease-in-out 1s;
    padding: 20px 20px;
    padding:10px;
    -webkit-transform:all ease-in-out 1s;
    -moz-transform:all ease-in-out 1s;
    -ms-transform:all ease-in-out 1s;
    -o-transform:all ease-in-out 1s;
    border-bottom: 2px solid #4d7abc;
    border-top: 1px solid #FF7F57;
    transition:border-top ease-in 0s;
    transition:border-bottom ease-in 0s;
    -webkit-transition:border-bottom ease-in 0s;
    -moz-transition:border-bottom ease-in 0s;
    -ms-transition:border-bottom ease-in 0s;
    -o-transition:border-bottom ease-in 0s;

}

.activity__clients:hover{
    padding: 0 40px 10px 20px ;
}

.activity__development, .activity__experience{
    padding-right: 125px;
}



/* ABOUT US SECTION */
.aboutus.aboutus--heading,.aboutus.aboutus__main--heading{
   text-align: center;
}

.aboutus.aboutus--heading{
    color: #2557AB;
}

.aboutus.aboutus__main--heading{
    font-weight: bold;
    font-size: 38px;
    line-height: 52px;
    color: #13253A;
}

/* .aboutus{
    align-items: center; 
} */
.aboutus__wrap{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding:0 235px 100px 235px;
    
}

.aboutus.aboutus.additional__info{
    max-width: 370px;
    padding-right: 30px;
    padding-top: 30px;
}
.aboutus.additional__description{
    max-width: 570px;
    padding-top: 32px;
}

.aboutus.additional__info--italic{    
    font-family: Avenir Next;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #13253A;
    mix-blend-mode: normal;
    opacity: 0.9;
    padding-bottom: 20px;
}

.aboutus{
    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #13253A;
    mix-blend-mode: normal;
    opacity: 0.9;
}

.additional__description--paragraph{
    padding-bottom: 30px;
    text-align: left;
}



/* INFO SECTION */
.info{
    width: 1170px;
    margin-left: 125px;
}

.info__wrap{
    display: flex;
    justify-content: space-evenly;
    column-gap: 100px;
    padding-top: 100px;
    border-top:1px solid #DCE2E6;
}

.info__wrap:hover{
    transition: background-color 0.5s ease-in-out;
    background: #c6d4c754;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    animation: color-me-in 5s infinite;
    -webkit-animation: color-me-in 5s infinite;
}


/* @keyframes .info__heading--relax {
    transition:color orange 1s    ;
    -webkit-transition:color orange 1s    ;
    -moz-transition:color orange 1s    ;
    -ms-transition:color orange 1s    ;
    -o-transition:color orange 1s    ;
} */

.info__description{
    max-width: 370px;
    padding-bottom: 20px;
}

.info__heading{
    font-weight: bold;
    font-size: 38px;
    line-height: 52px;
    color: #13253A;
    padding-bottom: 20px;
}

.info__thumbnail.img{
    max-width: 1170px;
    max-height: 470px;
}

.fas.fa-check{
    padding-right: 15px;
    color: #FF7F57;
}

 .info__list.info--icon{
    display: flex;
    padding-bottom: 12px;
}


.aboutus__logos.wrap{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center; 
    margin-bottom: 100px;
}

.aboutus__logos.logo{
    padding-right: 73px;
}

/* CFA SECTION */

.cfa{
    /* display: flex; */
    background-color: #FF7F57;
    text-align: center;
}
.cfa__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 46%;
    height: 40%;
    margin:0 345px 0  346px;
    /* padding:78px 345px 63px 346px;  */
}

.button.btn--getstarted{
    background-color:  #2557AB;
    border-radius: 3px;
    margin-bottom: 100px;
    box-shadow: 1px 27px 10px #22222240;
    width: 336px;
    height: 60px;
    color: #FFFFFF;
    border: none;
}


.cfa.cfa__main--heading{
    font-weight: bold;
    font-size: 46px;
    line-height: 63px;
    text-align: center;
    letter-spacing: -1px;
    color: #F4F6F7;
    margin:0;
    padding-bottom: 10px;
}

.cfa.description{
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 20px;
    font-size: 14px;
}

.cfa.cfa__heading--small{
    margin-top: 100px;
    color: #ffffff;
}


/* CONTACT US */

.contactus{
    width: 100%;
    height: 817px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #11364E;
}

.form{
    box-sizing: border-box;
    max-width: 400px;
    width: 100%;
    min-height: 500px;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.form:hover{

    box-shadow: 3px -9px 46px -13px rgb(255 127 87 / 10%);
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transition-delay: 0.9;
}
.contactus__header{
    text-align: center;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.form-label{
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}

.input-field, .textarea{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    padding: 15px;
    background: #11364E;
    border-bottom: white;
    mix-blend-mode: normal;
    opacity: 0.2;
}

.input-field{
    margin-bottom: 36px;
    border-bottom: 1px solid white;
    
}

.input-field:focus{
    box-shadow: 0px 9px 8px #ff7f57a8;
}
.textarea:focus{
    box-shadow: 0px 9px 8px #ff7f57a8;
    resize: none;
    margin-bottom: 20px;
}
/* COPYRGIHT */

.copyright{
    background-color: #13253A;
    width: 100%;
}

.copyright__info{
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
    padding:16px 0 15px 0;
}





/*  buttons hover style */


.button {
   
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
    .button:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color:white;
      transition: all .3s;
      z-index: -1;
    }


    .button:hover {
      color: #fff;
      color:#2557AB;
      font-weight: bold;
    
  }

  .button:hover::before{
    width: 100%;
  }

  .button.button.btn--consultation:hover,
  .button.button.button.btn--submit:hover{
     color: #FF7F57;
     font-weight: bold;
  }



  /* nav hover effect */

  .navbar__menu.menu__item:hover{
    padding: 11px 25px 15px 17px;
    border: none;
    margin-right: 11px;
    border-bottom: 2px solid #4d7abc45;
    align-items: flex-end;
}


.aboutus {
   animation-duration:3s;
    
}